/* -- Pagina Principal (index.html) -- */

@font-face {
    font-family: 'Ballad-Frye';
    src: url('fonts/Ballad-of-Dwight-Frye.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;    
}

body {
    background: linear-gradient(rgba(0, 102, 255, 0.37), rgba(255, 166, 0, 0.308), rgba(139, 0, 0, 0.329));
}

main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-width: 617px;
}

.imagem-jogo {
    width: 220px;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.titulo-jogo {
    font-family: 'Ballad-Frye', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 52px;
    margin: 5px auto;
}

.botoes-inicio {
    display: flex;
    width: 100vw;
    height: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn-iniciar {
    background-color: #0A3871;
    color: white;
    font-size: x-large;
    margin: 10px 0;
    width: 317px;
    height: 80px;
    border-radius: 24px;
    transition: 1.0s;
}

.btn-iniciar:hover {
    transform: scale(1.05);
}

.btn-add-palavra {
    width: 317px;
    height: 60px;
    border-radius: 24px;
    font-size: medium;
    transition: 1.0s;
}

.btn-add-palavra:hover {
    transform: scale(1.05);
}

.alura-logo {
    display: block;
    width: 31px;
    height: 48px;
}