/* -- Pagina Principal (index.html) -- */

@font-face {
    font-family: 'Ballad-Frye';
    src: url('fonts/Ballad-of-Dwight-Frye.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;    
}

body {    
    width: 100vw;
    height: 500px;
    min-width: 617px;
    background-color: rgb(90, 106, 179);
}

main {
    text-align: center;
    margin: 0 auto;
}

figure {
    margin: 0 auto;
    padding: 25px 0;
}

h1 {
    font-family: 'Ballad-Frye';
    font-size: 45px;
    padding: 5px 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 55px rgb(237, 247, 153);
}

.botoes-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

/* From uiverse.io by @adamgiebl */
   #btn-iniciar {
    background: #1ffb94;
    font-family: inherit;
    padding: 0.6em 1.3em;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   #btn-iniciar:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   #btn-iniciar:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   #btn-add-palavra {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   #btn-add-palavra:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   #btn-add-palavra:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }
